# Folders
binaries/to-build
nalcaos/

# File extensions
*txt
*.pycbinaries/built/download_mirror.py

# Files
install.sh
binaries/built/cachy-mirrors.txt
binaries/built/download_mirror.py

# python
__pycache__
